/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color:black;
    margin: 0;
    padding: 0;
  }
  
  form {
    max-width: 600px;
    margin: 20px auto;
    background-color: darkgray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 18px;
    box-sizing: border-box;
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 100px;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Add more styles as needed */
  